{%load static%}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>ADSO SENA</title>
  <link rel="stylesheet" href="{%static 'css/stilo.css'%}">
</head>
<body>
  <header>
    <div class="barra-negra">
      <div class="img">
        <img class="imagen1" src="{%static 'img/imagen1.png'%}" alt="Imagen 1">
      </div>
      <h1>Programa ADSO del SENA</h1>
    </div>
    <nav class="nav">
        <a href="#informacion-general">Información general</a>
        <a href="#ocupaciones">Ocupaciones</a>
        <a href="#perfil">Perfil profesional</a>
        <a href="#competencia">Competencias</a>
        <a href="#herramientas">Herramientas</a>
    </nav>
  </header>
  <main class="content">
      <!-- <section class="section">
      <div class="card2">
      <img class="imagen2" src="imagen2.png" alt="Imagen 2">
      </div>
      </section> -->
    <aside class="izquierda">
      <aside id="informacion-general">
        <h2>Información general</h2>
        <p>El programa ADSO del SENA forma tecnólogos en análisis y desarrollo de software.</p>
        <p>El programa cuenta con una etapa lectiva que tiene una duración de 1 año y 4 meses y se divide en 5 trimestres.</p>
        <p>El programa cuenta con una etapa productiva de 6 meses</p>
      </aside>
    </aside>
    <section class="derecha">
      <section id="ocupaciones">
        <h2>Ocupaciones Posibles</h2>
        <ul>
          <li>Desarrollador de software</li>
          <li>Analista de sistemas</li>
          <li>Arquitecto de sistemas</li>
        </ul>
      </section>
      <section id="perfil">
        <h2>Perfil profesional</h2>
        <p>El egresado del programa ADSO del SENA será un profesional competente en el análisis y desarrollo de software. Será capaz de:</p>
        <ul>
          <li>Identificar y analizar las necesidades de los clientes.</li>
          <li>Diseñar y desarrollar sistemas informáticos.</li>
          <li>Gestionar proyectos de desarrollo de software.</li>
          <li>Trabajar en equipo.</li>
          <li>Adaptarse a los cambios tecnológicos.</li>
        </ul>
      </section>
      <section id="competencia">
        <h2>Competencias</h2>
        <ul>
          <li>Desarrollar software de alta calidad que cumpla con los requerimientos del cliente.</li>
          <li>Implementar la solicon de software de acuerdo con los requisitos de operacion y modelos de referencia.</li>
          <li>Orientar investigacion formativa segun referentes tecnicos  </li>
          <li>Analizar y diseñar sistemas informáticos.</li>
          <li>Gestionar proyectos de desarrollo de software.</li>
        </ul>
      </section>
      <section id="herramientas">
        <h2>Herramientas de Uso</h2>
        <ul>
          <li>Lenguajes de programación: Java, Python, C++, etc.</li>
          <li>Herramientas de desarrollo: Eclipse, Visual Studio, etc.</li>
          <li>Herramientas de gestión de proyectos: Trello.</li>
        </ul>
      </section>
    </section>
  </main>
  <footer>
    <p>Copyright © 2023 SENA</p>
    <a href="#">Política de privacidad</a>
    <a href="https://oferta.senasofiaplus.edu.co/sofia-oferta/">SENA</a>
  </footer>
</body>
</html>